In [1]:
##2.Using platform module Write a Python program to get the Python version you are using
from platform import python_version
print(python_version())

3.9.7

In [2]:
#3.Using datetime module Display the current date and time

import datetime
current_time = datetime.datetime.now()
print(current_time)

2022-06-30 15:05:22.319826

In [ ]:
#4.What is a doc string? Write command to print doc string of any builtin function
--Python docstrings are the string literals that appear right after the definition of a function, method, class or module

In [3]:
def my_function():
    """this is the first assignment of python
    There are 16 questions in this assignment."""
   
    return None

print(my_function.__doc__)

this is the first assignment of python
    There are 16 questions in this assignment.

In [4]:
#5.Write a Python program to print the calendar of a given month and year.Note : Use 'calendar' module

import calendar
y = int(input("year : "))
m = int(input("month : "))
print(calendar.month(y, m))

year : 2021
month : 05
      May 2021
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30
31

In [8]:
#6.Print a random number using random module

import random
print(random.randint(0,9))

7

In [12]:
#7.Write a Python program to calculate the sum of three given numbers, if the values are equal then return three times of their sum.

def add1(x, y, z):

     add1 = x + y + z
  
     if x==y==z:
      add1 = add1 * 3
     return add1
    
print(add1(2,5,6))
print(add1(5,5,5))

13
45

In [13]:
# 8.To print different kinds of variables and their types like float,int,string,boolean

print(type(2))
print(type('sayanik'))
print(type(5.89))
print(type(False))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>

In [18]:
#9.Write a program which can add two complex numbers.

a = 1+5j
b = 2-3j
print("sum of two complex no is :",a+b)

sum of two complex no is : (3+2j)

In [19]:
#10.Write a program to swap two numbers without using third variable

x = int(input("no1: "))
y = int(input("no2: "))
x=x-y
y=x+y
x=y-x
print("no1:",x);
print("no2:",y);

no1: 25
no2: 45
no1: 45
no2: 25

In [21]:
#11.Write a program to print message on single line 

print('Hello',end = ' ')
print('World')

Hello World

In [24]:
# 12.List out the different types of type casting in python (e.g. int to float)
# string to float
a = 10
b = float(a)
print(b)
print(type(b))

10.0
<class 'float'>

In [25]:
# float to int
a = 1.56
b = int(a)
print(b)
print(type(b))

1
<class 'int'>

In [26]:
# int to string
a = 10
b = str(a)
print(b)
print(type(b))

10
<class 'str'>

In [27]:
# string to int
a = '10'
b = int(a)
print(b)
print(type(b))

10
<class 'int'>

In [28]:
# float to string
a = 10.89
b = str(a)
print(b)
print(type(b))

10.89
<class 'str'>

In [29]:
# string to float
a = '10.89'
b = float(a)
print(b)
print(type(b))

10.89
<class 'float'>

In [30]:
# 13. Program to calculate area of circle by using math module function

from math import pi
radius = float(input("radius:"))
print ("circle area :",(pi * radius**2))

radius:4.0
circle area : 50.26548245743669

In [32]:
# 14. Assume suitable value for Ramesh's basic salary. His dearness allowance is 40% of basic salary and house rent allowance is 20% of basic salary. Calculte his gross salary (basic+dearness+hra=gross)

basic_sal = float(input("basic salary :"))
gross_sal = basic_sal + (0.40 * basic_sal) + (0.20 * basic_sal)
print("gross salary:",gross_sal)

basic salary :5000
gross salary: 8000.0

In [36]:
#15. 15. Take input of distance between two cities in Km convert this value in meters, feet, inches and centimeters

km = float(input('value in km :'))
meter = km * 1000
feet = km * 3280.84
inches = km * 39370.079
centimeter = km * 100000

print('km to meter:',meter,'mt')
print('km to feet:',feet,'ft')
print('km to inches:',inches,'inch')
print('km to centimeter:',centimeter,'cm')

value in km :8.98
km to meter: 8980.0 mt
km to feet: 29461.9432 ft
km to inches: 353543.30942 inch
km to centimeter: 898000.0 cm

In [38]:
#Display float number with 2 decimal places using print().

num = 8.9653
num_new = "{:.2f}".format(num)
print(num_new)

8.97